<div class="row">
  <div class="col-md-1 col-sm-2 col-xs-3">

  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <%= caret_up_icon_comment(comment.post, comment) %>
    </div>
    <div class="panel-body">
      <%= net_votes(comment) %>
      <%# comment.votes.count %>
      <!-- counts -->
    </div>
    <div class="panel-footer">
      <%= caret_down_icon_comment(comment.post, comment) %>
    </div>
  </div>

  </div>
  <div class="col-md-11 col-sm-10 col-xs-9">

  <div class="panel panel-default">
    <div class="panel-body">
      "<%= comment.body %>"
    </div>
    <div class="panel-footer">
      <p>
        - written by <%= link_to comment.user.username, user_path(comment.user) %><br>
        - added <%= time_ago_in_words comment.created_at %> ago<br>
        <% if ["show"].include?(action_name) && ["users"].include?(controller_name) %>
          - on post of <span><%= link_to comment.post.title, post_path(comment.post) %></span>
        <% end %>
      </p>
    </div>
  </div>

  </div>
</div>
