<div class="panel panel-default">
  <div class="panel-body">

<% if ["show"].include?(action_name) && ["users"].include?(controller_name) %>

  <p><strong>"<%= comment.body %>"</strong> (on <span><%= link_to comment.post.title, post_path(comment.post) %></span>)</p>
  <p class="text-right">
    - added <%= time_ago_in_words comment.created_at %> ago
  </p>

<% else %>

  <div class="panel panel-default text-center vote-panel">
    <div class="panel-body">
      <p><%= caret_up_icon_comment(comment) %></p>
      <p><%= net_votes(comment) %></p>
      <p><%= caret_down_icon_comment(comment) %></p>
    </div>
  </div>

  <h3>"<%= comment.body %>"</h3>
  <p class="text-right">
    - added <%= time_ago_in_words comment.created_at %> ago by <%= link_to comment.user.username, user_path(comment.user) %>
  </p>

<% end %>

  </div>
</div>
