<div class="panel panel-default comment-panel">
  <div class="panel-body">

<% if ["show"].include?(action_name) && ["users"].include?(controller_name) %>

  <h4>"<%= comment.body %>"</h4>
  <p>
    <span class="floats">on <%= link_to comment.post.title, post_path(comment.post) %>,</span>
    <span class="floats"><%= pluralize(comment.net_votes, 'vote') %></span>
  </p>
  <p class="text-right">
    - added <%= time_ago_in_words comment.created_at %> ago
  </p>

<% else %>

  <div class="panel panel-default text-center vote-panel">
    <div class="panel-body">
      <p><%= vote_up_arrow(comment) %></p>
      <p id="comment_<%= comment.id %>_vote"><%= comment.net_votes %></p>
      <p><%= vote_down_arrow(comment) %></p>
    </div>
  </div>

  <h4>"<%= comment.body %>"</h4>
  <p class="text-right">
    <span class="floats">- added <%= time_ago_in_words comment.created_at %> ago,</span>
    <span class="floats">by <%= link_to comment.user.username, user_path(comment.user) %></span>
  </p>

<% end %>

  </div>
</div>
