<%= render 'shared/title', title: 'Edit Profile' %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for @user do |f| %>
  <div class="text-right"><%= f.submit class: "btn btn-default" %></div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
<% end %>

<p class="text-right">
  <%= link_to "Back", user_path(@user), class: "btn btn-default" %>
</p>
  </div>
</div>
