<%= render 'shared/title', title: 'Edit Profile' %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="text-right"><%= f.submit class: "btn btn-default" %></div>
<% end %>
