<%= render 'shared/title', title: 'Register' %>

<%= form_for :user, url: users_path do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="text-right"><%= f.submit 'Register', class: "btn btn-default" %></div>
<% end %>
