<%= render 'shared/title', title: @user.username %>

<p class="text-right">
  <% if correct_user?(@user) %>
    <%= link_to 'edit user', edit_user_path(@user), class: "btn btn-default" %>
  <% end %>
  <%= link_to 'back to all posts', posts_path, class: "btn btn-default" %>
</p>

<h4><%= pluralize(@user.comments.count, 'user comment') %></h4>
<% if @user.comments.any? %>
  <% @user.comments.each do |comment| %>
  <div class="panel panel-default">
    <%= link_to post_path(comment.post) do %>
    <div class="panel-body">
      "<%= comment.body %>"
    </div>
    <% end %>
    <div class="panel-footer">
    <p>
      <span class="floats"><%= pluralize(net_votes(comment), 'Vote') %></span>
    </p>
      <p>
        - added at <%= comment.created_at %><br>
        <% if ["show"].include?(action_name) && ["users"].include?(controller_name) %>
          - on post of <span><%= link_to comment.post.title, post_path(comment.post) %></span>
        <% end %>
      </p>
    </div>
  </div>
  <% end %>
<% end %>

<h4><%= pluralize(@user.posts.count, 'user post') %></h4>
<div class="post-blocks">
  <%= render @user.posts if @user.posts.any? %>
</div>
