<h1>User show</h1>
<article>
  <p><%= @user.username %></p>
  <%# if correct_user?(@user) %>
    <%= link_to 'edit user', edit_user_path(@user) %>
  <%# end %>
</article>

<h4><%= 'all comments' if @user.comments.any? %></h4>
<%= render @user.comments %>

<h4><%= 'all posts' if @user.posts.any? %></h4>
<%= render @user.posts %>
