<article>
  <%= render post.categories %>

  <h4><%= link_to post.title, post %></h4>
  <p><%= post.description %></p>
  <h4><%= post.url %></h4>
  <p><%= link_to post.user.username, user_path(post.user) %></p>
</article>
