<div class="col-xs-6 col-md-4">
  <div class="thumbnail">

    <div class="caption">
      <%= link_to post do %>
        <h3><%= post.title %></h3>
      <% end %>
      <p>
        <%= pluralize(post.votes.where(voted: true).count - post.votes.where(voted: false).count, 'Vote') %>
        <%= pluralize(post.comments.size, 'Comment') %>
      </p>
      <%= render post.categories %>
    </div>
  </div>
</div>
