<%= render 'shared/title', title: 'Welcome!' %>

<% if user_log_in? %>
  <p class="text-right">
    <%= link_to 'new category', new_category_path, class: "btn btn-default" %>
    <%= link_to 'new post', new_post_path, class: "btn btn-default" %>
  </p>
<% end %>

<h4><%= pluralize(@posts.count, 'post') %></h4>
<div class="post-blocks">
  <div class="thumbnail">
    <div class="caption">
      <%= content_tag(:span, "all #{Post.count}", class: "label label-all-primary") %>
      <%= render Category.all %>
    </div>
  </div>
  <%= render @posts if @posts.any? %>
</div>
