<h3>Welcome!</h3>

<% if current_user %>
  <%= link_to 'logout', logout_path, method: :delete %>
  <%= link_to 'new category', new_category_path %>

  <% Category.all.each do |category| %>
  <ul>
    <li><%= category.name %></li>
  </ul>
  <% end %>

  <%= link_to 'new post', new_post_path %>
<% end %>

<% @posts.each do |post| %>
<article>

  <h4><%= link_to post.title, post %></h4>
  <p><%= post.description %></p>
  <h4><%= post.url %></h4>
</article>
<% end %>
