<%= render @post %>
<% if correct_user? %>
  <p><%= link_to 'edit post', edit_post_path(@post) %></p>
<% end %>

<p><%= link_to 'back to all posts', posts_path %></p>

<%= form_for [@post, Comment.new] do |f| %>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<%= render @post.comments %>
