<article>

  <h4><%= @post.title %></h4>
  <p><%= @post.description %></p>
  <h4><%= @post.url %></h4>
</article>

<p><%= link_to 'edit ', edit_post_path(@post) %></p>
<p><%= link_to 'all posts', posts_path %></p>

<%= form_for [@post, Comment.new] do |f| %>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
<article>
  "<%= comment.body %>"
</article>
<% end %>