<article>

  <% @post.categories.each do |category| %>
  <ul>
    <li><%= link_to category.name, category %></li>
  </ul>
  <% end %>
  <h4><%= @post.title %></h4>
  <p><%= @post.description %></p>
  <h4><%= @post.url %></h4>
  <% if correct_user? %>
    <p><%= link_to 'edit post', edit_post_path(@post) %></p>
  <% end %>
</article>

<p><%= link_to 'back to all posts', posts_path %></p>

<%= form_for [@post, Comment.new] do |f| %>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
<article>
  "<%= comment.body %>"
</article>
<% end %>
