<%= render 'shared/title', title: "Category: #{@category.name}" %>

<p class="text-right">
  <%= link_to 'back to all posts', posts_path, class: "btn btn-default" %>
</p>

<h4><%= pluralize(@category.posts.count, 'category post') if @category.posts.any? %></h4>

<div class="post-blocks">
  <div class="thumbnail">
    <div class="caption">
      <%= link_to content_tag(:span, "all #{Post.count}", class: ( ["index"].include?(action_name) && ["posts"].include?(controller_name) ? "label label-danger" : "label label-default")), posts_path %>
      <%= render Category.all %>
    </div>
  </div>
  <%= render @category.posts if @category.posts.any? %>
</div>
