<!-- <ul class="nav navbar-nav navbar-right">
  <li><a href="#">Link</a></li>
</ul> -->

<ul class="nav navbar-nav">
  <% if user_log_in? %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Welcome, \"#{current_user.username}\"!", root_path, class: "navbar-brand" %>
    </div>

    <li>
      <%= link_to 'profile', current_user %>
    </li>
    <li>
      <%= link_to 'logout', logout_path, method: :delete %>
    </li>
  <% else %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Resources!", root_path, class: "navbar-brand" %>
    </div>

    <li>
      <%= link_to 'register', register_path %>
    </li>
    <li>
      <%= link_to 'login', login_path %>
    </li>
  <% end %>
</ul>
